{% load static %}
<link rel="stylesheet" href="{% static 'css/navbar.css' %}">
<link rel="stylesheet" href="{% static 'css/home.css' %}">
<nav class="navbar">
    <div class="siteName">
        <img src="{% static 'images/quiz.png' %}" width="65" height="65"/>
    </div>
    <div class="navElements">
        <span class="quizStart"><a href="{% url 'question_view' %}">Rozpocznij QUIZ</a></span>
        <span><a href="/admin">Panel administratora</a></span>
        {% if user.is_authenticated %}
        <span class="greet">Witaj, {{request.user}}</span>
        <span ><a  class="greet" href="{% url 'logout' %}">Wyloguj</a></span>
        {% endif %}
    </div>
</nav>

<footer>
    <div class="footer__items">
        <a href="#"><h2>Quiz.com</h2></a>  
        <div class="footer__items__list">
            <a href="#">HOME</a>
            <a href="#">ABOUT</a>
            <a href="https://github.com/Ervez">CONTACT</a>
        </div>
        <div class="footer_copyright">
            <p>Copyright ©2023 All rights reserved to <a href="https://github.com/Ervez">Ervez</a></p>
        </div>
    </div>
</footer>