*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    cursor: default;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@mobile:    ~"only screen and (max-width: 768px)";
@vivid-blue: #087cfc;
body{
    width: 100%;
    div.container{
        width: 90vw;
        height: 100%;
        display: flex;
        margin: auto;
        align-items: center;
        justify-content: center;
        div.questionMain{
            width: 500px;
            border: 1px solid gray;
            padding: 10px;
            border-radius: 10px;

            div.questionHeader{
                h1{
                    text-align: right;
                    font-size: 13px;
                    opacity: 0.8;
                    color: #4e5259;
                    a{
                        text-decoration: none;
                        color: @vivid-blue;
                    }
                }
            }
            div.questionContent{
                h2{
                    text-align: center;
                    padding: 25px;
                }
                div.contentAnswers{
                    display: grid;
                    width: 60%;
                    align-items: center;
                    justify-content: center;
                    margin: auto;
                    margin-top: 10px;
                    button{
                        min-width: 450px;
                        cursor: pointer;
                        margin: 5px;
                        background-color: @vivid-blue;
                        padding: 10px;
                        color: #fff;
                        font-size: 18px;
                        border: none;
                        border-radius: 10px;
                    }

                    .scale-out-center {
                        -webkit-animation: scale-out-center 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
                                animation: scale-out-center 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
                    }

                    @keyframes scale-out-center {
                        0% {
                          -webkit-transform: scale(1);
                                  transform: scale(1);
                          opacity: 1;
                        }
                        100% {
                          -webkit-transform: scale(0);
                                  transform: scale(0);
                          opacity: 1;
                        }
                      }
                }
            }
        }
    }
}

@media @mobile{
    body{
        div.container{
            div.questionMain{
                width: 300px;
                div.questionHeader{
                    h1{
                    }
                }
                div.questionContent{
                    h2{
                        font-size: 18px;
                    }
                    div.contentAnswers{
                        button{
                            min-width: 250px;
                        }
                    }
                }
            }
        }
    }
}

